/* Font family = poppins
weights: 400, 500, 600, 700 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --bodyred: hsl(0, 100%, 74%);
    --btngreen: hsl(154, 59%, 51%);
    --btnblue: hsl(248, 32%, 49%);
    --forminputfont: hsl(249, 10%, 26%);
    --formterms: hsl(246, 25%, 77%);
}

body {
    background-image: url(./images/bg-intro-desktop.png);
    background-color: var(--bodyred);
    margin: 0;
    font-family: "Poppins";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-area {
    display: flex;
    align-items: center;
    height: 500px;
}

.text-side {
    width: 50%;
    color: white;
}

.title {
    line-height: 1.1;
    width: 350px;
}

.body-text {
    font-size: 12px;
    line-height: 1.7;
}

.input-area {
    width: 40%;
}

.trial-btn-area {
    margin-bottom: 15px;
}

.trial-btn {
    background-color: var(--btnblue);
    min-width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 0px 0.5px rgba(50, 50, 93, 0.25);
    height: 40px;
    color: white;
    font-size: 12px;
}

.form-side {
    background: white;
    border-radius: 5px;
    padding: 25px;
    height: 275px;
    box-shadow: 0px 5px 0px 0.5px rgba(50, 50, 93, 0.25);
}

.input-box {
    height: 50px;
}

.input-details {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 0.2px solid var(--formterms);
    text-indent: 20px;
    font-size: 12px;
}

input:focus {
    outline: 0.1px solid var(--forminputfont);
}